@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  text-transform: none;
  background-color: #fff;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.bread-crumbs-arrow {
  width: 13px;
  height: 16px;
  background-image: url(../public/img/arrow.svg);
  background-repeat: no-repeat;
}

.bread-crumbs-item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6edff;
  position: absolute;
  top: 16px;
}

.bread-crumbs-item:hover::before,
.bread-crumbs-item:focus::before {
  background-color: #316FEE;
}

.bread-crumbs-list li:not(:last-child) {
  margin-right: 8px;
}

.input::placeholder {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
}

.subscription__switch {
  width: 32px;
  height: 16px;
}

.card:hover,
.card:focus {
  box-shadow: 0px 8px 16px 0px #00000014;
}

.card:not(:last-child) {
  margin-bottom: 24px;
}


.card-switch {
  width: 48px;
  height: 24px;
}

.card-item::before {
  content: "";
  display: inline-block;
  background-image: url(../public/img/done.svg);
  width: 16px;
  height: 12px;
  margin-right: 8px;
}

.card-item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 375px) {
  .button-desktop {
    display: none;
  }
  .button-mobile {
    display: block;
  }
}

@media (min-width: 1024px) {
  .button-mobile {
    display: none;
  }
  .button-desktop {
    display: block;
  }
}

@layer components {
  .bread-crumbs-item {
    @apply flex cursor-pointer relative hover:text-black-100 focus:text-black-100 hover:duration-500;
  }

  .bread-crumbs-arrow {
    @apply mt-[10px]
  }

  .nav-item {
    @apply hover:text-blue-200 cursor-pointer focus:text-blue-200 active:text-blue-200 hover:duration-500;
  }

  .active {
    @apply text-blue-200 border-b-2 border-blue-200;
  }

  .cards {
    @apply flex flex-wrap justify-between;
  }
  .card {
    @apply flex flex-col  bg-white-100 items-start relative w-[343px] lg:w-[476px] pt-[24px] pb-[24px] pr-[16px] pl-[16px] lg:p-[24px] rounded-[16px] h-auto lg:h-[244px];
  }

  .card-signature {
    @apply text-sm text-gray-300;
  }

  .card-picture {
    @apply absolute right-6 w-[40px] h-[40px] lg:w-[80px] lg:h-[80px];
  }

  .card-title {
    @apply text-lg font-medium mb-[8px];
  }

  .card-description {
    @apply text-base text-gray-600 text-left max-w-[311px] lg:max-w-[325px] mb-[16px];
  }

  .card-list {
    @apply flex flex-col items-start text-base font-normal mb-[24px] lg:mb-[16px];
  }

  .card-item {
    @apply inline-block text-left;
  }

  .card-form {
    @apply flex items-center;
  }

  .card-label {
    @apply bg-gray-500 rounded-full relative cursor-pointer;
  }

  .card-indicator {
    @apply absolute bg-white-100 rounded-full peer-checked:left-7 transition-all duration-500;
  }

  .card-number {
    @apply text-base ml-[16px] lg:ml-[9px];
  }

  .switch {
    @apply relative;
  }

  .switch-input {
    @apply sr-only;
  }

  .switch-label {
    @apply w-[100%] h-[100%] block bg-gray-500 rounded-full relative cursor-pointer transition-all duration-500 peer-checked:bg-blue-100;
  }

  .switch-indicator {
    @apply w-[45%] h-[90%] left-[2%] top-[50%] translate-y-[-50%] absolute bg-white-100 rounded-full cursor-pointer transition-all duration-500 peer-checked:left-[98%] peer-checked:translate-x-[-100%];
  }

  .footer {
    @apply mb-[48px] pt-[48px];
  }
}
